[LOGGING]

logging-format-style=new

[MESSAGES CONTROL]

disable=invalid-name, logging-too-many-args, logging-format-interpolation, invalid-overridden-method, duplicate-code

[FORMAT]

max-line-length=100